{% extends "base.html" %}
{% block title %}Welcome{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
  <h1>Welcome!</h1>
  <div class='container'></div>

  {% if error %}  
    <div class="alert alert-danger" role="alert">
      <p><strong>Authentication error: {{ error }}</strong></p>
    </div>
  {% endif %}
  <h2>Sign in to Google below, and I will guess your name.</h2>
  </br>
  <div class="text-center"> 
    <button type="button" class="btn btn-success" id="sign-in">Sign In</button>
  </div>
</div>
{% endblock %}
<!-- 
<script src="{{ url_for('static', filename='script.js') }}"></script>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
